body{
    background-color:blanchedalmond
}
h1{
    color:blue
    
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-family: sans-serif;
    color:darkviolet
}
p{
    font-size: 20px;
}