* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-color: black;
}
h1
{
  color: white;
  width: 100vw;
  text-align: center;
  font-size: 80px;
}
h2
{
  color: white;
  width: 100vw;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 4vh;
}


nav {
  display: flex;
  width: 100vw;
  padding: 2rem;
  min-height: 6vh;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
body
{
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}
footer
{
  width: 100vw;
  background-color: #00a8c7;
  display: table-row;
  height: 10vh;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
ul
{
  overflow: hidden;

}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
  display: inline-block;
}
nav li a
{
  display: inline-block;
  align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
.DropDown:hover .DropDownContent
{
  display: flex;
  flex-direction: column;
  margin-left: -40.5px;
  padding: 31px;
  background-color: #e9e9e9;
  position: absolute;
  top: 10.6vh;
}
.DropDown:hover
{
  background-color: white;
  height: 10.6vh;
}
.DropDown:hover a
{
  color: #00a8c7;
}
.DropDownContent
{
  display: none;
}
#Title
  {
    position: relative;
    width: 800px;
    min-height: 400px;
    margin: 100px auto;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 40px;
    margin-top: 55vh;
    margin-bottom: 20vh;
  }
  #fullscreen {
    z-index: -999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }