* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-color: black;
}
h1
{
  color: white;
  width: 100vw;
  text-align: center;
  font-size: 80px;
}
h2
{
  color: white;
  width: 100vw;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 4vh;
}
#Title
{
  margin-top: 55vh;
  margin-bottom: 20vh;
}
.Introductions
{
  width: 100vw;
  margin-top: 15vh;
  margin-bottom: 15vh;
  float: left;
}
.LorumIpsumR
{
  color: white;
  font-size: 24px;
  width: 38vw;
  margin-left: 5vw;
  margin-right: 5vw;
  float: right;
}
.LorumIpsumL
{
  color: white;
  font-size: 24px;
  width: 38vw;
  margin-left: 5vw;
  margin-right: 5vw;
  float: Left;
}
#HTMLCSSIMG
{
  float: left;
  width: 38vw;
  margin-top: -15vh;
  margin-left: 5vw;
  margin-right: 5vw;
}
#JSIMG
{
  float: right;
  width: 18vw;
  margin-top: -5vh;
  margin-left: 15vw;
  margin-right: 15vw;
}
#PHPIMG
{
  float: left;
  width: 28vw;
  margin-top: -3vh;
  margin-left: 10vw;
  margin-right: 10vw;
}
#SQLIMG
{
  float: right;
  width: 28vw;
  margin-top: -5vh;
  margin-left: 10vw;
  margin-right: 10vw;
}
nav {
  display: flex;
  width: 100vw;
  padding: 2rem;
  min-height: 6vh;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
body
{
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}
footer
{
  width: 100vw;
  background-color: #00a8c7;
  display: table-row;
  height: 10vh;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
ul
{
  overflow: hidden;

}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
  display: inline-block;
}
nav li a
{
  display: inline-block;
  align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
.DropDown:hover .DropDownContent
{
  display: block;
}
.DropDown:hover
{
  height: 5vh;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #E9E9E9;
}
.DropDown:hover a
{
  color: #00a8c7;
}
.DropDownMenuItem:hover
{
  background-color: rgb(63, 61, 61);
}
.DropDownContent
{
  display: none;
  position: absolute;
  background-color: #E9E9E9;
  min-width: 20vw;
  z-index: 1;
  box-shadow: 0rem 0.5rem 1 rem 0rem rgba(0,0,0,0.2);
}
.DropDownContent a
{
  color: black;
  padding: 0.8rem 1rem;
  display: block;
  text-align: left;
}