header{

    background-image: url(img/gaming.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 70vh
    
}

h1{

    font-size: 24px;
    color: blue;
    font-weight: bold;
    font-style: italic;
}
h2{
    font-size: 20px;
    font-weight: bold;
    color:#0000ff
}
h3{
    font-size: 16px;
    font-weight: bold;
    color:teal
}
p{

    font-weight: bold;
    color:#0000FF

    
}
p{
    border: 3px solid blue;
    border-radius: 25px;
    border-left: solid 10px;
  }
      

a{
    text-decoration: none;
    color:#8A2BE2

}