body{
    background-color:crimson
}
p{
    font-family: sans-serif;
    color: blue;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cyan
}